---
layout: home
title: Tristan's Blog
---

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
        </section>    
      </div>
    </div>


    <!-- DISPLAY SOME POSTS!!! -->
    <div class="page-wrapper">
      {% for post in paginator.posts %}
          {% assign author = site.authors[post.author] %}
          <div class="post">
              <div class="post-image-wrapper">
                  <a class="post-image-link" href="{{ post.url }}" style="background-image: url({{ post.featured-image }})">
                  </a>
              </div><div class="post-details-wrapper">
                  <div class="post-details-info">
                      <div>By <span class="post-details-info-author">{{ author.name }}</span></div>
                      <div>Posted <span class="post-details-info-date">{{ post.date | date_to_long_string }}</span></div>
                  </div>
                  <h2 class="post-details-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
                  <div class="post--details-excerpt">{{ post.excerpt }}</div>
              </div>
          </div>
      {% endfor %}

      <!-- Pagination links -->
      <div class="pagination">

          {% if paginator.previous_page %}
              <a href="{{ paginator.previous_page_path }}" class="navigation-button">Previous</a>
          {% else %}
              <span class="disabled button previous">Previous</span>
          {% endif %}

          <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>

          {% if paginator.next_page %}
              <a href="{{ paginator.next_page_path }}" class="navigation-button">Next</a>
          {% else %}
              <span class="disabled button next">Next</span>
          {% endif %}
          
      </div>
    </div>