html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    /*box-sizing: inherit;*/
}

* {
    transition: 0.2s;
}

body {
    font-family: 'Open Sans';
    color: #343f48;
}

a {
    color: #1abc9c;
    text-decoration: none;
}

a:hover {
    color: #b0d04f;
}

h2 {
    font-weight: normal;
    font-size: 34px;
}

h3 {
    font-weight: normal;
    font-size: 28px;
}

.page-header {
    margin-bottom: 60px;
    padding-top: 30px;
    background-color: #2c3235;
    border-bottom: 10px solid #b0d04f;
    text-align: center;
    color: #fff;
}

.page-header-link-logo {
    color: #fff;
    text-decoration: none;
}

.page-header-link-logo-image {
    height: 25px;
    margin-top: 25px;
}

.page-title {
    max-width: 900px;
    margin-top: 25px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 50px;
}

.page-excerpt {
    max-width: 900px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

.page-wrapper {
    max-width: 750px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}

.page-details-info {
    margin-bottom: 20px;
    text-align: center;
    font-size: 13px;
    color: #999;
}


.page-details-info-author {
    color: #1abc9c;
}

.page-details-info-date {
    color: #1abc9c;
}

.page-share-buttons {
    padding-bottom: 40px;
    text-align: center;
}

.page-content {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 20px;
    line-height: 1.6;
}

.page-image-wrapper {
    text-align: center;
}

.page-image {
    max-width: 100%;
}

.page-featured-image {
    width: 100%;
}

.page-subscribe {
    margin-top: 60px;
    padding-top: 30px;
    border-top: 1px solid #eee;
    text-align: center;
}

.page-subscribe-text {
    margin: 0;
}

.page-author-details {
    margin-top: 30px;
    margin-bottom: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    text-align: center;
}

.page-author-details-avatar {
    border-radius: 50%;
    width: 7em;
}

.page-author-details-name {
    margin-bottom: 3px;
    font-size: 20px;
    font-weight: bold;
}

.page-author-details-social a {
    margin: 5px 3px 0;
    display: inline-block;
    font-size: 16px;
    background: #ddd;
    color: #fff;
    text-align: center;
    height: 28px;
    width: 28px;
    line-height: 28px;
    border-radius: 14px;
}

.page-author-details-social a:hover {
    background: #bbb;
}

.page-comments {
    padding-right: 20px;
    padding-bottom: 60px;
    padding-left: 20px;
}

.post {
    margin-right: 20px;
    margin-bottom: 60px;
    margin-left: 20px;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
}

.post-image-wrapper {
    display: block;
    vertical-align: top;
    width: 100%;
}

@media (min-width: 768px) {
    .post-image-wrapper {
        display: inline-block;
        width: 300px;
    }
}

.post-image-link {
    display: block;
    width: 100%;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

.post-details-wrapper {
    display: block;
    vertical-align: top;
    width: 100%;
    padding: 30px;
}

@media (min-width: 768px) {
    .post-details-wrapper {
        display: inline-block;
        width: calc(100% - 300px);
    }
}

.post-details-info {
    font-size: 12px;
    font-style: italic;
    color: #999
}

.post-details-info-author {
    color: #252525;
}

.post-details-info-date {
    color: #252525;
}

.post-details-title {
    font-weight: normal;
}

.page-footer {
    padding: 30px 0;
    border-top: 1px solid #eee;
    text-align: center;
    opacity: 0.8;
}

.page-footer img {
    height: 20px;
    padding-right: 10px;
}

.navigation {
    position: fixed;
    right: 30px;
    bottom: 30px;
}

.navigation-button {
    display: inline-block;
    padding: 6px 12px;
    border: 1px solid #2c3235;
    border-radius: 2px;
    background-color: #fff;
    color: #2c3235;
}

.navigation-button:hover {
    background-color: #2c3235;
    color: #fff;
}

.flex-video {
    position: relative;
    height: 0;
    padding-top: 16px;
    padding-bottom: 75%;
    margin-bottom: 20px;
    overflow: hidden;
}

.flex-video iframe,
.flex-video object,
.flex-video embed,
.flex-video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.flex-video.widescreen {
    padding-bottom: 56.25%;
}

.flex-video.vimeo {
    padding-top: 0;
}

.pagination {
    text-align: center;
    margin-bottom: 50px;
}

.page_number {
    display: inline-block;
    padding: 5px 10px;
    font-size: 14px;
}

.button {
    cursor: pointer;
    /*border: 1px solid #eee;*/
    /*display: inline-block;*/
/*    padding: 5px 10px;*/
}

.button.disabled {
    color: #eee;
}

.button.next {
    float: right;
    margin-right: 20px;
}

.button.previous {
    float: left;
    margin-left: 20px;
}

.highlight {
    margin: 0;
}

.highlight pre {
    background: #f8f8f8;
    margin: 0;
    padding: 20px;
    font-size: 14px;
}

blockquote{
  display:block;
  background: #f8f8f8;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;

  /*Font*/
  font-size: 16px;
  line-height: 1.2;
  color: #666;
  text-align: justify;
}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/

  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;

  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;
}

blockquote::after{
  /*Reset to make sure*/
  content: "";
}
