{% include header.html %}

{% assign author = site.authors[page.author] %}

<div class="page-wrapper">
    <div class="page-details-info">
        By <span class="page-details-info-author">{{ author.name }}</span>
        Posted <span class="page-details-info-date">{{ page.date | date_to_long_string }}</span>
    </div>

    <div class="page-share-buttons">
        <div class="addthis_sharing_toolbox"></div>
    </div>

    <div class="page-content">
        <p class="page-image-wrapper">
            <img class="page-featured-image" src="{{ page.featured-image }}" alt="{{ page.title }}">
        </p>
        {{ content }}
    </div>

    <div class="page-author-details">
        <img class="page-author-details-avatar" src="{{ author.avatar }}" alt="{{ author.name }}">
        <div class="page-author-details-name">{{ author.name }}</div>
    </div>
</div>

{% include footer.html %}
